body {
    background-image:url("../img/burger.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
}


p {
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}

.footer {
    border-top: 1px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
	background-color: #F7C244;
    padding: 15px;
}

.footer a {
    color: #fff;
}